$mobile-wide 	: 340px;
$tablet 		: 569px;
$tablet-wide 	: 768px;
$desktop 		: 1020px;
$desktop-medium : 1200px;
$desktop-big 	: 1370px;

$primary_font : 'Helvetica Neue', 'Open Sans', sans-serif;
$secondary_font : 'Open Sans', sans-serif;
$tertiary_font : 'Merriweather Sans', sans-serif;

$logo_color: #0065B7;
$primary_color: #1FC0D8;
$secondary_color: #FF4545;
$tertiary_color: #2FE6C6;

$nav_height: 69px;